In [10]:
import pandas as pd

df = pd.read_csv('data.csv')
df['dateAdded'] = pd.to_datetime(df['dateAdded'])
df['dateUpdated'] = pd.to_datetime(df['dateUpdated'])
data = df.copy()
df['month_added'] = df['dateAdded'].apply(lambda x: x.month)

In [15]:
data[
    data['name'] == 'Taco Bell'
]['city'].value_counts()

Indianapolis        84
Columbus            63
Charleston          63
Tampa               62
South Lake Tahoe    42
                    ..
Parker               1
Plainville           1
Troutdale            1
New Lenox            1
Fort Wayne           1
Name: city, Length: 134, dtype: int64

In [19]:
data.groupby(data['dateAdded'].dt.month)['id'].nunique().to_frame()

             id
dateAdded
1           308
2           257
3          4970
4          3224
5          1141
6          1356
7           645
8           479
9           554
10         4716
11         1550
12          239

In [22]:
df.loc[df['name'] == 'Taco Bell', ['city', 'address']].groupby('city')['address'].nunique().sort_values(ascending=False)

city
Indianapolis    4
Columbus        3
Charleston      3
Tampa           3
Meridian        2
               ..
Greenville      1
Georgetown      1
Frankfort       1
Fort Wayne      1
Zachary         1
Name: address, Length: 134, dtype: int64

In [25]:
data['update_delta'] = (data['dateUpdated'] - data['dateAdded']).apply(lambda x: x.days)

result = data.groupby('city', as_index=False)[['update_delta', 'latitude']].agg({
    'update_delta': 'mean',
    'latitude': 'max',
})
zep_mean = result.loc[result['city'] == 'Zephyrhills', 'update_delta']

In [32]:
zep_mean.values[0]

329.69565217391306

In [44]:
data[
    data['categories'].apply(lambda x: len(x.split(',')) > 20)
].groupby('province', as_index=False)['longitude'].min().round(3)\
.to_csv('module19.csv', sep=';', index=False)

In [ ]:
data

In [46]:
df[df['name'] == 'Taco Bell'][['city', 'id']].drop_duplicates().groupby('city').count().sort_values('id', ascending=False)['id']

city
Indianapolis    4
Columbus        3
Charleston      3
Tampa           3
Meridian        2
               ..
Greenville      1
Georgetown      1
Frankfort       1
Fort Wayne      1
Zachary         1
Name: id, Length: 134, dtype: int64

In [59]:
import datetime as dt

df['update_delta'] = (df['dateUpdated'] - df['dateAdded']).apply(lambda x: x.days)

In [73]:
round(df['update_delta'].mean(),2 ), round(df['update_delta'].median(), 2)

(326.22, 364.0)

In [70]:
df.groupby('city')[['update_delta', 'latitude']].agg({
    'update_delta': 'mean',
    # 'update_delta': 'median',
    'latitude': 'max',
})

              update_delta   latitude
city
Abbeville       114.857143  29.982108
Aberdeen         81.625000  46.975110
Abilene         206.454545  32.453090
Abingdon        303.500000  36.712800
Abington        393.000000  40.124851
...                    ...        ...
Zebulon           0.000000  33.102090
Zephyr Cove     105.500000  38.984947
Zephyrhills     329.695652  28.271183
Zieglerville    621.000000  40.291611
Zionsville      151.500000  39.954970

[3601 rows x 2 columns]

In [67]:
df[df['categories'].str.contains('Pizza')]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,month_added,update_delta
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS,3,336
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02 11:49:34+00:00,2017-02-01 18:04:44+00:00,39.561570,-95.12102,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS,3,336
66,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco Supreme,Falbo Bros Pizzeria,IA,3,37
67,AVwc_59U_7pvs4fz1Md3,3250 Kennedy Cir,"Pizza,Take Out Restaurants,Caterers,Restaurant...",Dubuque,Pizza,2016-03-29 04:45:06+00:00,2016-05-05 12:40:51+00:00,42.505264,-90.72141,NaN,NaN,"2016-05-05T12:40:51Z,2016-03-29T04:45:06Z",NaN,Taco,Falbo Bros Pizzeria,IA,3,37
158,AVwc_AmZkufWRAb51FxA,133 Howard St,"Pizza,Restaurants",Braintree,Pizza,2016-09-19 17:43:53+00:00,2016-09-19 17:43:53+00:00,42.233826,-70.98024,NaN,USD,2016-09-19T17:43:53Z,"Large salsa, pizza cheese, hamburger, hot pepp...",Mexican Taco,New England House of Pizza,Braintree Hld,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76256,AVweVOBFByjofQCxxRnN,3000 N Dinuba Blvd,"Latin American Restaurants,Take Out Restaurant...",Visalia,"Latin American Restaurants,Mexican",2016-07-06 20:48:02+00:00,2016-11-18 15:46:04+00:00,36.351383,-119.29696,NaN,USD,2016-07-06T20:48:02Z,"Roasted pork, cabbage, cilantro, onion, beans,...",Tacos De Adobado,Figaro's Mexican Grill,CA,7,134
76291,AVweVXD4ByjofQCxxS7L,35 N Farview Ave,"Italian Restaurant,Pizza Place",Paramus,NaN,2016-03-15 19:34:54+00:00,2016-05-06 20:35:40+00:00,NaN,NaN,NaN,USD,2016-03-15T19:34:54Z,NaN,Taco,La Bella Roma Pizzeria,NJ,3,52
76507,AVweWyOEkufWRAb5CNJU,1516 E Historic Highway 66,"Take Out Restaurants,Restaurants,Italian Resta...",Gallup,Take Out Restaurants,2017-01-12 18:46:56+00:00,2017-01-12 18:46:56+00:00,35.530148,-108.71973,NaN,NaN,2017-01-12T18:46:56Z,"Beef, Whole Beans, Cheddar Cheese, Onion, Lett...",Navajo Taco,Big Cheese Pizza,Pinedale,1,0
76669,AVweXxalByjofQCxxnWC,1895 Washington Blvd,"Bars,Restaurants,Bar & Grills,Pizza",Ogden,Bars,2016-12-25 18:11:56+00:00,2016-12-25 18:11:56+00:00,41.233300,-111.97047,NaN,USD,2016-12-25T18:11:56Z,"Our famous chili verde, string potatoes, three...",Chili Verde Breakfast Burrito,Slackwater Pub Pizzeria,Marriott-slaterville City,12,0
76709,AVweYFH-ByjofQCxxqHG,620 Water St S,"Bars,Pizza,Italian Restaurants,Family Style Re...",Northfield,Bars,2016-04-03 12:15:30+00:00,2016-04-03 12:15:30+00:00,44.453735,-93.16171,NaN,NaN,2016-04-03T12:15:30Z,"Mild Tomato chili sauce, chipotle beef topped ...",Taco - A South of The Boarder Favorite,Carbone's Pizzeria,MN,4,0

In [58]:
df.groupby('city')['latitude'].mean()

city
Abbeville       29.982108
Aberdeen        38.465008
Abilene         32.416819
Abingdon        36.709430
Abington        40.124851
                  ...
Zebulon         33.102090
Zephyr Cove     38.984941
Zephyrhills     28.265151
Zieglerville    40.291611
Zionsville      39.952787
Name: latitude, Length: 3601, dtype: float64

In [20]:
df[(df['city'] == 'New York') | (df['name'] == 'Taco Bell')].index

Int64Index([  130,   131,   132,   133,   134,   135,   136,   137,   138,
              139,
            ...
            76623, 76624, 76625, 76626, 76872, 76904, 76905, 76906, 76907,
            76908],
           dtype='int64', length=4036)

In [22]:
df[((df['name'] == 'Taco Bell') | (df['city'] == 'New York')) & ~(df['name'].fillna('').str.contains('Taco$'))]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
130,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Taco,Taco Bell,NH
131,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Volcano Burrito,Taco Bell,NH
132,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Taco 12 Pack,Taco Bell,NH
133,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Grilled Steak Soft Taco,Taco Bell,NH
134,AVwc_9yCByjofQCxkdRX,322 S. Broadway,"Fast Food,Restaurants,Mexican,Breakfast,Vegeta...",Salem,Mexican,2016-03-28T06:01:51Z,2017-06-27T10:01:48Z,42.755023,-71.209440,NaN,NaN,"2016-03-28T06:01:51Z,2016-06-06T16:15:44Z",NaN,Fresco Soft Taco,Taco Bell,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76904,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Tacos,USD,2016-08-21T00:00:00Z,NaN,Trio of Tacos,Hell's Kitchen,Nyc
76905,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,"Huevos, Etc.",USD,2016-08-07T00:00:00Z,NaN,Brunch Burrito,Hell's Kitchen,Nyc
76906,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,NaN,Grilled Chicken Mini Burrito,Hell's Kitchen,Nyc
76907,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Botanas,USD,2016-08-07T00:00:00Z,with pumpkin seed guacamole,Grilled Vegetable Mini Burrito,Hell's Kitchen,Nyc
76908,AVweZN9nByjofQCxxz4o,754 Ninth Ave,Restaurant,New York,"Mexican, American, Traditional Mexican",2015-10-19T20:44:15Z,2016-08-22T11:24:07Z,40.763858,-73.988327,Main,NaN,2016-08-21T00:00:00Z,NaN,Burritos,Hell's Kitchen,Nyc

In [33]:
for i in df.groupby('city')['id'].count().sort_values(ascending=False).head(5).index:
    print(i, end=', ')

San Diego, Los Angeles, Chicago, San Francisco, New York,

In [46]:
df[df['name'] == 'Taco Bell'].groupby('city')['address'].nunique('address').sort_values(ascending=False).head().reset_index()['city']

0    Indianapolis
1        Columbus
2      Charleston
3           Tampa
4        Meridian
Name: city, dtype: object

In [36]:
df.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2017-02-01T18:04:44Z,NaN,Taco,Gambino's Pizza,KS
1,AVwc__cikufWRAb51QjV,610 Commercial St,"Restaurant Delivery Service,Restaurants,Pizza,...",Atchison,Restaurant Delivery Service,2016-03-02T11:49:34Z,2017-02-01T18:04:44Z,39.561570,-95.121020,NaN,NaN,2016-03-02T11:49:34Z,"Beef, onion, cheddar cheese, lettuce, refried...",Taco,Gambino's Pizza,KS
2,AVwc__dF_7pvs4fz1Ncy,9521 Morton Davis Dr,"Golf Course, American Restaurant, and Resort",Patterson,NaN,2016-10-14T01:58:25Z,2016-10-14T01:58:25Z,37.401855,-121.266703,NaN,NaN,2016-10-14T01:58:25Z,"Beef barbacoa or chicken, spanish rice, pico d...",Smotherd Burrito,Diablo Grande Golf & Country Club,Grayson
3,AVwc__kCByjofQCxkdm-,10550 W I 25 Frontage Rd,Fast Food Restaurant,Longmont,NaN,2016-09-09T17:30:34Z,2016-10-04T05:15:17Z,NaN,NaN,NaN,NaN,2016-09-09T17:30:34Z,NaN,Sausage Burrito,Mcdonald's,Niwot
4,AVwc__WtByjofQCxkdkR,8495 W 3rd St,"Mexican Restaurant Mid-City West,Mexican Resta...",Los Angeles,Mexican,2016-05-19T11:50:25Z,2016-09-11T00:06:37Z,34.080724,-118.389578,NaN,NaN,2016-05-19T11:50:25Z,"Wahoo, avocado, cabbage, pico de gallo and av...",Wahoo Tacogrilled,Baja Fresh Mexican Grill,Bicentennial